.theme-switch {
    position: absolute;
    top: clamp(1.5rem, 6vh, 3rem);
    right: clamp(1.5rem, 6vw, 3rem);

    &__label {
        background-color: #111111;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        height: 26px;
        width: 50px;
        transform: scale(1.5);

        .circle {
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;
            height: 22px;
            width: 22px;
            transform: translateX(0px);
            transition: transform 0.2s linear;
        }
    }

    &__toggle {
        &:checked+.theme-switch__label .circle {
            transform: translateX(24px);
        }

        opacity: 0;
        position: absolute;
    }

    .sun-icon {
        left: 2px;
        width: 18px;
    }

    .moon-icon {
        right: 2px;
        width: 18px;
    }

    @media (max-height:42rem) and (max-width:42rem) {
        right: unset;
        left: clamp(1.5rem, 6vw, 3rem);
    }
}

/* Light Theme */

body.switched__theme {
    --main-bg-clr--dark: #B9C9E1;
    --main-bg-clr--light: #E9F2F4;

    --text-clr: #111111;
    --text-clr--alt: #ffffff;

    --input-clr: #edf4f8;

    --key-clr: #fafafa;
    --key-clr--highlight: #dadada;

	--number-clr:#f2f2f2;
	--number-clr--highlight:#d2d2d2;

    --op-clr--generic: #64a7da;
    --op-clr--generic--highlight: #5392c2;

    --op-clr--equal: #cfcfcf;
    --op-clr--equal--highlight: #dfdfdf;
}